  
name: CI

on:
  push:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js@14
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - run: yarn install
      - run: yarn lint